/* src/components/footer.module.css */

.footer {
  padding: 20px;
  background-color: #ed0001;
  text-align: center;
  width: 100%;
  color: #FFFFFF; /* Define a cor branca para todo o texto no footer */
}

/* Caso queira garantir que o texto nas tipografias e links herdem a cor branca */
.footerHeading,
.footerLinks a,
.socialMedia,
.footerLinks li {
  color: #FFFFFF !important; /* Garante que os links e títulos também fiquem brancos */
}

.footerLinks a:hover {
  text-decoration: underline; /* Mantém o underline ao passar o mouse */
 
}

.socialIcon {
  color: #FFFFFF; /* Ícones de redes sociais também brancos */
}

.copyright {
  color: #FFFFFF;
}

.footerLinks {
   list-style-type: none ; /* Remove os pontos da lista */
}