/* src/components/customCard.module.css */

.card {
  height: 400px; /* Aumente a altura conforme necessário */
  display: flex;
  flex-direction: column; /* Para empilhar a imagem e o conteúdo verticalmente */
}

.imageContainer {
  flex: 1; /* Faz com que a imagem ocupe todo o espaço disponível no card */
  overflow: hidden; /* Garante que o conteúdo não transborde */
}

.image {
  width: 100%; /* Faz a imagem ocupar 100% da largura do contêiner */
  height: 100%; /* Define a altura para 100% do contêiner */
  object-fit: cover; /* Faz com que a imagem cubra todo o contêiner, mantendo a proporção */
  display: block; /* Remove o espaço abaixo da imagem */
}
