/* src/components/customCard.module.css */

.card {
  height: 150%;
  display: flex;
  flex-direction: column; /* Para empilhar a imagem e o conteúdo verticalmente */
}

.imageContainer {
  flex: 1; /* Faz a imagem ocupar todo o espaço disponível no card */
}

.image {
  width: 100%;
  height: 100%; /* A imagem ocupará 100% do contêiner */
  object-fit: contain; /* Garante que a imagem cubra o contêiner, sem deixar espaços */
  display: block;
}

/* Centralizando o conteúdo do card */
.cardContent {
  text-align: center; /* Centraliza o texto dentro do contêiner */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
