/* src/components/SearchAppBar.module.css */
.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.linksContainer {
  display: flex;
  gap: 20px; /* Espaçamento entre os links */
}

.link {
  color: white !important; /* Cor branca com !important */
  text-decoration: none !important;
  cursor: pointer;
  font-size: 16px;
  font-weight: normal; /* Definir peso da fonte como normal */
  transition: color 0.3s ease, font-weight 0.3s ease; /* Transição suave para cor e peso */
}

.link:hover {
  color: white; /* Mantém a cor branca ao passar o mouse */
  font-weight: bold; /* Negrito ao passar o mouse */
}
